body{
    margin: 0%;
    padding: 0%;
	background-image: url(foto/1.jpeg);
	background-repeat: no-repeat;
	background-size: 100%;
	size: 100%;
	

	
    
}

header{
	background-color: rgb(37, 4, 31);
	margin-left: 900px;
	font-size: 110%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a:link{
	color: rgb(93, 33, 85);
	text-decoration: none;
}

a:visited{
	color: rgb(165, 42, 93);
}

a:hover{
	text-decoration: underline;
	color: rgb(173, 31, 126)

}

a:active{
	background-color: rgb(118, 16, 117);
}

.lindin{
	width: 27px;

}

.vid{
	padding-left: 50%;
	padding-top: 6%;

}

.titu{
	background-color: rgba(250, 235, 215, 0.944);
	margin-top: -450px;
	width: 450px;
	padding: 8px;
	margin-left: 100px;

	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 150%;
	text-shadow: 0px 2px 2px rgb(234, 0, 255);
}

.sobre{
	background-color: rgb(173, 35, 181);
}









@media (max-width: 768px) {
	main{
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		background-image: url();
		color: aliceblue;
		padding-left: 15px;
		margin-top: 10px;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	}
	
	
	
}